# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database
*.db

# Logs
*.log
/tmp/

# Node
node_modules/
dist/
